
section {
    font-family: Inconsolata !important;
    /* font-family: Inconsolata !important; */
}

code {
    font-family: Inconsolata !important;
}

.title-page {
    font-size: 200%;
    background-color: blue !important;
    color: white !important;
    font-family: "Joystix Monospace" !important;
}

.title-page h1 {
    font-family: Inconsolata !important;
    letter-spacing: .1em;
    color: white !important;
}

h1 {
    font-family: "Joystix Monospace" !important;
}

code {
    background-color: #d0d0a0 !important;
}